<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>18/05/25 15:58:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAC()[pri:0, instance:liveplus.Register@78c730]">&lt;&lt;configAC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16832177</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>18/05/25 15:57:49</td>   <td>-22361</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBC()[pri:0, instance:liveplus.Register@78c730]">&gt;&gt;configBC</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@16832177</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>18/05/25 15:58:02</td>   <td>-9558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.profileImage()[pri:0, instance:liveplus.Register@78c730]">profileImage</td> 
  <td>main@16832177</td>   <td></td> </tr>
</table>
