<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf78">  <td>18/07/14 10:46:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Admin_login_logout.launchbrowser()[pri:1, instance:liveplus.Admin_login_logout@be2bc2]">launchbrowser</td> 
  <td>main@2754460</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>18/07/14 10:46:37</td>   <td>23610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_logout.launchbrowser()[pri:1, instance:liveplus.Login_logout@1565ec2]">launchbrowser</td> 
  <td>main@2754460</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/07/14 10:46:59</td>   <td>45498</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Admin_login_logout.LoginAsAdmin()[pri:2, instance:liveplus.Admin_login_logout@be2bc2]">LoginAsAdmin</td> 
  <td>main@2754460</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>18/07/14 10:47:07</td>   <td>53688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_logout.singinAsUser()[pri:2, instance:liveplus.Login_logout@1565ec2]">singinAsUser</td> 
  <td>main@2754460</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/07/14 10:47:13</td>   <td>59740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Admin_login_logout.LogoutFromAdmin()[pri:3, instance:liveplus.Admin_login_logout@be2bc2]">LogoutFromAdmin</td> 
  <td>main@2754460</td>   <td></td> </tr>
<tr bgcolor="b6d4ae">  <td>18/07/14 10:47:20</td>   <td>67217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_logout.LogoutFromuserLogin()[pri:3, instance:liveplus.Login_logout@1565ec2]">LogoutFromuserLogin</td> 
  <td>main@2754460</td>   <td></td> </tr>
</table>
